# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

/.angular/cache/angular-webpack/453e45fa0dc9388dc025af6d3a5c9d2457464c71/0.pack
/.angular/cache/angular-webpack/f86eced1470976243761c414e351519bdde7ebe0/0.pack
/.angular/cache/angular-webpack/743d578d87cd1454b19511c8fb065e5299858fae/7.pack
/.angular/cache/angular-webpack/453e45fa0dc9388dc025af6d3a5c9d2457464c71/0.pack

./.angular/cache/angular-webpack/453e45fa0dc9388dc025af6d3a5c9d2457464c71/0.pack
./.angular/cache/angular-webpack/f86eced1470976243761c414e351519bdde7ebe0/0.pack
./.angular/cache/angular-webpack/743d578d87cd1454b19511c8fb065e5299858fae/7.pack
./.angular/cache/angular-webpack/453e45fa0dc9388dc025af6d3a5c9d2457464c71/0.pack

/.angular/
./.angular

*.pack