<app-header></app-header>

<ion-content>
    <div class="container">
        <div class="card-profile">
            <img class="img-profile" src="../../../assets/icon/profile.svg" alt="">
            <div>
                <div class="container-nome">
                    <h1>Jonahtan</h1>
                    <img src="../../../assets/badges/pata-dourada.svg" alt="">
                </div>
                <p class="pontuacao">100 pontos</p>
            </div>
        </div>
    </div>
    <div class="container-badges">
        <div class="titulo-badges">
            <img src="../../../assets/icon/star-badge.svg" alt="">
            <h2>Coleção de badges</h2>
        </div>
        <div class="badges">
            <a class="card-badge" href="">
                <img src="../../../assets/badges/rookie.svg" alt="">
            </a>
            <a class="card-badge" href="">
                <img src="../../../assets/badges/rookie.svg" alt="">
            </a>
            <a class="card-badge" href="">
                <img src="../../../assets/badges/rookie.svg" alt="">
            </a>
            <a class="card-badge" href="">
                <img src="../../../assets/badges/rookie.svg" alt="">
            </a>
        </div>
    </div>
    <div class="container-presenca">
        <div class="titulo-presenca">
            <img src="../../../assets/icon/calendar.svg" alt="">
            <h2>Marcou presença em</h2>
        </div>
        <div class="card-evento">
            <img src="../../../assets/icon/evento-icon.svg" alt="">
            <div>
                <h3>Evento</h3>
                <p>Descrição do evento</p>
            </div>
            <a href="">Ver</a>
        </div>
        <div class="card-evento">
            <img src="../../../assets/icon/evento-icon.svg" alt="">
            <div>
                <h3>Evento</h3>
                <p>Descrição do evento</p>
            </div>
            <a href="">Ver</a>
        </div>
        <div class="card-evento">
            <img src="../../../assets/icon/evento-icon.svg" alt="">
            <div>
                <h3>Evento</h3>
                <p>Descrição do evento</p>
            </div>
            <a href="">Ver</a>
        </div>
        <div class="card-evento">
            <img src="../../../assets/icon/evento-icon.svg" alt="">
            <div>
                <h3>Evento</h3>
                <p>Descrição do evento</p>
            </div>
            <a href="">Ver</a>
        </div>
    </div>
</ion-content>