<ion-content>
  <div class="loginContainer">
    <form class="formLogin">
      <div class="text-center mb-4">
        <img class="mb-3" alt width="72" height="72" src="../../../assets/icon/favicon.svg">
        <h1 class="logoTitle">Pet Goals</h1>
      </div>

      <div class="inputContainer">
        <input type="email" id="inputEmail" class="formInput" placeholder="Email" required autofocus>
      </div>

      <div class="inputContainer">
        <input type="password" id="inputPassword" class="formInput" placeholder="Senha" required>
      </div>

      <!-- TODO: Esqueceu a Senha -->
      <!-- <div class="passwordForgot">
        <span>Esqueceu a senha?</span>
      </div> -->

      <div class="mb-5">
        <button class="buttonLoginPrimary" type="submit" [routerLink]="'../feed'">Entrar</button>
      </div>

      <div class="container">
        <div class="row d-flex flex-nowrap justify-content-center align-items-center">
          <div class="col">
            <div class="divider"></div>
          </div>
          <div class="col">
            <span class="orContainer">ou</span>
          </div>
          <div class="col">
            <div class="divider"></div>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col no-gutters mt-4">
            <!-- TODO: Fazer Cadrastro -->
            <button class="buttonLoginSecondary" routerLink="register">Fazer Cadastro</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</ion-content>