<app-header></app-header>

<ion-content>

  <!-- TODO:"Teremos mesmo essa funcionalidade?" -->
  <!-- <div class="flex-container">
    <div cklass="flex-item" style="flex-grow: 1"> Geral </div>
    <div cklass="flex-item" style="flex-grow: 1"> Seguindo </div>
  </div> -->

  <ion-card *ngFor="let post of posts" class="pb-3" style="border-radius: 10px;">

    <ion-card-header class="card-header" style="background-color: #F4F4F4;">
      <img class="profile-icon d-inline mr-5 d-inline"
        src="https://i.pinimg.com/564x/1d/3e/b9/1d3eb9f70bb9768090fc31e15a261fd4.jpg" width="40px" height="40px">
      <span class="d-inline organization-name">{{post.organization.name}}</span>
    </ion-card-header>

    <div class="img-block">
      <img src="{{post.urlImage}}" class="card-img">
    </div>

    <ion-card-content>
      {{post.description}}
    </ion-card-content>

    <div class="container">
      <div class="row">
        <div class="col">
          <!-- TODO: Alterar cor da paw quando der like para indicar que já deu like daaah -->
          <img class="mx-2" src="../../../assets/icon/paw.svg" (click)="incrementLike(post)">
          <span class="">{{post.likes}}</span>
        </div>
        <div class="col d-flex justify-content-end">
          <img class="mx-2" src="../../../assets/icon/calendar.svg">
          <img class="mx-2" src="../../../assets/icon/share.svg" (click)="presentAlert()">
        </div>
      </div>


    </div>

  </ion-card>

</ion-content>