<app-header></app-header>

<ion-content>

  <!-- <div class="flex-container">
    <div cklass="flex-item" style="flex-grow: 1"> Geral </div>
    <div cklass="flex-item" style="flex-grow: 1"> Seguindo </div>
  </div> -->

  <ion-card class="py-1" *ngIf="showModalFirstAcess">
    <ion-card-content>

      <div class="row d-flex justify-content-end ">
        <span (click)="closeCardFirstAccess()">X</span>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="card-badge col-4 mb-3">
          <img src="../../../assets/badges/rookie.svg" alt="">
        </div>

        <span style="font-size: 16px;">
          Parabéns! Você acaba de criar seu
          acesso no <strong style="color: #FC8721;"> Pet Goals </strong>
          e esperamos contar com você daqui para
          frente!
        </span>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let post of posts" class="pb-3" style="border-radius: 10px;">

    <ion-card-header class="card-header" style="background-color: #F4F4F4;">
      <img class="profile-icon d-inline mr-5 d-inline"
        src="https://i.pinimg.com/564x/1d/3e/b9/1d3eb9f70bb9768090fc31e15a261fd4.jpg" width="40px" height="40px">
      <span class="d-inline organization-name">{{post.organization.name}}</span>
    </ion-card-header>

    <div class="img-block">
      <img src="{{post.urlImage}}" class="card-img">
    </div>

    <ion-card-content>
      {{post.description}}
    </ion-card-content>

    <div class="container">
      <div class="row">
        <div class="col">
          <!-- TODO: Alterar cor da paw quando der like para indicar que já deu like daaah -->
          <div *ngIf="!post.actions.like;else other_content">
            <img class="mx-2" src="../../../assets/icon/paw.svg" (click)="incrementLike(post)">
          </div>

          <ng-template #other_content>
            <img class="mx-2" src="../../../assets/icon/svgviewer-output.svg">
          </ng-template>

          <span class="">{{post.likes}}</span>
        </div>
        <div class="col d-flex justify-content-end">
          <!-- TODO: Mostrar Modal com dados do evento e talvez uma integração com o Google Agenda -->
          <img class="mx-2" src="../../../assets/icon/calendar.svg">
          <img class="mx-2" src="../../../assets/icon/share.svg" (click)="sharePost(post)">
        </div>
      </div>


    </div>

  </ion-card>

</ion-content>