.brand-icon{
    margin-left: 1rem;
}

.flex-container {
    display: flex;
    align-items: stretch;
    text-align: center;
    margin-top: 1rem;
}

.card-img{
    width: 100%;
  height: auto;
}

.img-block{
    padding: 0 1rem ;
}

.paw{
    margin-top: 0.5rem;
}

.like-number{
    margin: 1rem;
}

.like-block{
    padding: 0 1rem ;
}

.card-header{
    background-color: #0000;
    border-top: 5px;
}

.profile-icon{
    // padding: 3px;
    // border:2px solid #ccc;
    border-radius: 50%;
    // margin-right: 5px;
    
}

.com-func{
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.organization-name{
    font-size: 20px;
    font-family: 'Poppins';
}