<ion-content>
  <div class="loginContainer">
    <div class="backgroundContainer h-75">
      <div class="d-flex justify-content-center mt-5 mb-5">
        <img src="../../../assets/success.svg" alt>
      </div>

      <div class="container">
        <div class="row mb-2">
          <div class="col">
            <h2 class="titleSuccess">Cadastro realizado!</h2>
          </div>           
        </div>
        <div class="row">
          <div class="col">
            <p class="paragraphSuccess">
              Seja bem vindo a plataforma que conecta pessoas e projetos!
              Esperamos que você se sinta em casa e possa contribuir da melhor forma possível.
            </p>
          </div>
        </div>
      </div>   
    </div>

    <div class="buttonContainer">
      <button class="buttonLoginSecondary">Começar</button>
    </div>
        
  </div>
</ion-content>
