.anothers{
    max-height: 70%;
    vertical-align: bottom;
}

.podium-name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: bold rgb(163, 163, 163) !important ;
    color: rgb(163, 163, 163) ;
}

.podium-points{
    color: rgb(245, 162, 55);
}

.colocation-card{
    background: rgb(252,135,33);
    background: linear-gradient(90deg, rgba(252,135,33,1) 0%, rgba(255,198,54,1) 100%);
    color: white;
}

.commom-guys{
    width:70px;
    height:70px;
    border-radius: 50%;
}

.location{
    font-size: 20px;
    padding-right: 10px;
}

.border{
    border-radius: 50%;
}

.winners{
    border-radius: 50%;
    width: 200px;
    height: 100px;
}

ion-content{
  font-family: Poppins !important;
}

.podio img {
  width: 90px;
  padding-bottom: 10px;
}
