<ion-content>
    <div class="loginContainer">
      <form class="formLogin">
        <div class="text-center mb-4">
          <img class="mb-3" alt width="72" height="72" src="../../../assets/icon/favicon.svg">
          <h1 class="logoTitle">Pet Goals</h1>
        </div>
        
        <div class="inputContainer">
          <input type="email" id="inputEmail" class="formInput" placeholder="Email*" required autofocus>
        </div>
  
        <div class="inputContainer">
          <input type="password" id="inputPassword" class="formInput" placeholder="Senha*" required>
        </div>
  
        <div class="inputContainer">
          <input type="password" id="inputPassword" class="formInput" placeholder="Confirmar Senha*" required>
        </div>
  
        <div class="mt-4 mb-5">
          <button class="buttonLoginPrimary" type="submit">Cadastrar</button>
        </div>
      
        <div class="container">
          <div class="row d-flex flex-nowrap justify-content-center align-items-center">
            <div class="col">
              <div class="divider"></div>
            </div>
            <div class="col">
              <span class="orContainer">ou</span>
            </div>
            <div class="col">
              <div class="divider"></div>
            </div>
          </div>
  
          <div class="row no-gutters">
            <div class="col no-gutters mt-4">
              <button class="buttonLoginSecondary">Fazer login</button>
            </div>   
          </div>   
        </div>
        
      </form>
    </div>
  </ion-content>
  