<ion-content *ngIf="!showSuccessMessage">
  <div class="loginContainer">
    <form class="formLogin">
      <div class="text-center mb-4">
        <img class="mb-3" alt width="72" height="72" src="../../../assets/icon/favicon.svg">
        <h1 class="logoTitle">Pet Goals</h1>
      </div>

      <div class="inputContainer">
        <input type="email" [(ngModel)]="newUserName" name="name" id="inputName" class="formInput" placeholder="Nome*"
          required autofocus>
      </div>

      <div class="inputContainer">
        <input type="email" [(ngModel)]="newUserEmail" name="email" id="inputEmail" class="formInput"
          placeholder="Email*" required autofocus>
      </div>

      <div class="inputContainer">
        <input type="password" [(ngModel)]="newUserPassword" name="password" id="inputPassword" class="formInput"
          placeholder="Senha*" required>
      </div>

      <!-- <div class="inputContainer">
        <input type="password" id="inputPassword" class="formInput" placeholder="Confirmar Senha*" required>
      </div> -->

      <div class="mt-4 mb-5">
        <button class="buttonLoginPrimary" type="submit" (click)="newUser()">Cadastrar</button>
      </div>

      <div class="container">
        <div class="row d-flex flex-nowrap justify-content-center align-items-center">
          <div class="col">
            <div class="divider"></div>
          </div>
          <div class="col">
            <span class="orContainer">ou</span>
          </div>
          <div class="col">
            <div class="divider"></div>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col no-gutters mt-4">
            <button class="buttonLoginSecondary" routerLink="">Fazer login</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</ion-content>

<ion-content *ngIf="showSuccessMessage">
  <div class="loginContainer">
    <div class="backgroundContainer h-75">
      <div class="d-flex justify-content-center mt-5 mb-5">
        <img src="../../../assets/success.svg" alt>
      </div>

      <div class="container">
        <div class="row mb-2">
          <div class="col">
            <h2 class="titleSuccess">Cadastro realizado!</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="paragraphSuccess">
              Seja bem vindo a plataforma que conecta pessoas e projetos!
              Esperamos que você se sinta em casa e possa contribuir da melhor forma possível.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="buttonContainer">
      <button class="buttonLoginSecondary" routerLink="">Voltar a tela de Login</button>
    </div>

  </div>

</ion-content>